body {
  font-family: "The Nautigal", cursive;
  color: whitesmoke;
  background-color: rgba(0, 0, 0, 0.801);
}

header h1 {
  font-size: 50px;
}

.container-custom {
  width: 1100px;
  margin: 0 auto;
}

.box-style {
  height: 100px;
  width: 100px;
  border: 2px solid whitesmoke;
}

.colored {
    background-color: green;
}